<html>
<head>
    {% javascripts '@CoralliumServerBundle/Resources/public/js/jquery.min.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>

    function sendUser() 
    {
        var abc = {
        	"fos_user_registration_form":
        	{
                "username": "teratux",
	            "email": "teratux@gmail.com",
		        "plainPassword":{
		            "first": "abc",
		            "second": "abc",
		        },
        	}
        };

        $.ajax({
            data: abc,
            url: "{{ path('corallium_server_register_user') }}",
            method: "post",
            beforeSend: function() {},
            success: function( a ) {
                alert(a);
            },
            error: function ( a ) {
            	alert( a );
            }
        });
    }
    </script>
</head>


<body>
{% block body %}

{% endblock %}

        <button onclick="sendUser()">Send User</button>

</body>

</html>