<html>
<head>
    {% javascripts '@CoralliumServerBundle/Resources/public/js/jquery.min.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>

    function sendUser() 
    {
        var abc = {
        	"fos_user_registration_form":
        	{
                "username": "teratux",
	            "email": "teratux@gmail.com",
		        "plainPassword":{
		            "first": "abc",
		            "second": "abc",
		        },
                // "token": "0",

           	},
            "role_tmp" :  {
                "0": "ROLE_OWNER",
                "1": "ROLE_ADMIN"
            }

        };

        $.ajax({
            data: abc,
            url: "{{ path('corallium_server_register_user') }}",
            method: "post",
            beforeSend: function(  xhr ) {
            },
            success: function( a ) {
                alert(a);
            },
            error: function ( a ) {
            	alert( a );
            }
        });
    }

    function ping() 
    {
        var abc = {
                "bearer" : "eyJhbGciOiJSUzI1NiJ9.eyJyb2xlcyI6WyJST0xFX0dVRVNUIiwiUk9MRV9VU0VSIl0sInVzZXJuYW1lIjoidGVyYXR1eCIsImV4cCI6MTQ5NDMwMTQwMiwiaWF0IjoxNDk0Mjk3ODAyfQ.OqAvck6DWN6mqWgxQQFrd93NbrKjzJBXC6eemtwdDuPUgGSYJH_m8tsp7FYLDn-M-56NOLyi4qmdp0QovzwzGV3Jkdj8tRsB0LFhx-8hy7CIEOqR1DqbNt_vvNuBxJGtDJ4r6sIWoMqiOTAPI9hcJnY85r1ILEOXnRkA6T6-zLtaWr11sCO7O2Qo-9EpDEdagnnxeUpGkpecwKVHT6B-AX567s8dOaNYU55WwwLuLkVnbl8ufgblXG-BHa7OHnxhznGoWhiJ93VEiwPFD4tLqhHiFfO_2I8tas63_sLrfsAJs_jC-1ZM56nqACtwOqtoWC9Fz4CGIFmgk0WQy4UOKI1M6kAwW2A08pRx4bqJ3ERSw9rN1YXBLLBdZ95QjoeC60YO1xuJ5YCmYNgPemVprkHPO9Wgcd95XqnSOqfdv3glS1W5ZAeLOIBz7Lwv88dOXAH3lkEylr4iJCB_T-t1Vm1tT5pVVeupiAN9328EvvasFUmg6XEksDRsVdGF4AVKJ9uYCFtPJRDVd4hxzIb_XXinUimX6_O42F-Mky8MtyETvEGFPweYTg5LyD4oZ-5MIzowE5hoEBNEqA3g-NqnOGvcLnNDDt-jPrT5GdXlI6SRcJRhyPZRXj_7ChLZTtnsjOjC4zHbfAjfEtY8PxbVvqGALkpJJGOcyMtPwTgDfL8"
        };
        $.ajax({
            data: abc,
            url: "{{ path('index_project') }}",
            method: "get",
            beforeSend: function() {
            },
            success: function( a ) {
                alert(a);
            },
            error: function ( a ) {
                alert( a );
            }
        });
    }

    function login() 
    {
        var abc = {
                "username": "teratux",
                "password": "abc",
                "token" : ""
        };
        $.ajax({
            data: abc,
            url: "{{ path('login_check') }}",
            method: "post",
            beforeSend: function() {
            },
            success: function( a ) {
                alert(a);
            },
            error: function ( a ) {
                alert( a );
            }
        });
    }
    </script>
</head>


<body>
{% block body %}

{% endblock %}

        <button onclick="sendUser()">Send User</button>

        <button onclick="ping()">Ping</button>
        <button onclick="login()">Login</button>

</body>

</html>